<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmbedIO" version="3.4.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.21" targetFramework="net461" />
  <package id="LtGt" version="1.0.2" targetFramework="net461" />
  <package id="NAudio" version="1.10.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="SpotifyAPI.Web" version="5.1.0" targetFramework="net461" />
  <package id="SpotifyAPI.Web.Auth" version="5.1.0" targetFramework="net461" />
  <package id="Sprache" version="2.2.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="taglib" version="2.1.0.0" targetFramework="net461" />
  <package id="Unosquare.Swan.Lite" version="3.0.0" targetFramework="net461" />
  <package id="Xabe.FFmpeg" version="3.5.2" targetFramework="net461" />
  <package id="YoutubeExplode" version="4.7.13" targetFramework="net461" />
</packages>